
  <!--  Top Fixed Navigation bar  -->
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
       <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar" ></span>
            <span class="icon-bar" ></span>
            <span class="icon-bar" ></span>
         </button>
         <a href="/" class="navbar-brand">iLoveMyCity!</a>
      </div>
      <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/berlin">Berlin</a></li>
            <li><a href="/paris">Paris</a></li>
            <li><a href="/madrid">Madrid</a></li>
            <li><a href="/london">London</a></li>
            <li><a href="/newyork">New York</a></li>
          </ul>
      </div>
   </div>
  </div>
    <!--  Complete Top Fixed Navigation bar -->